/* @import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

* {
    font-family: Marhey;

}
body {
    background-color: rgb(242, 242, 242);
}
.container {
    background-color: #F5F1DC;
    border: 5px solid #FF9013;
    border-radius: 10px;
    width: fit-content;
    margin: 100px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #FF9013;
}
p {
    background-color: white;
    border: 2px solid #73C8D2;
    padding: 5px;
    border-radius: 5px;
}

button {
    background-color: #FF9013;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.2s;
}
button:active {
    scale: 0.9;
    background-color: #c16a06;
} */


@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

* {
    font-family: Marhey;

}
body {
    background-color: rgb(242, 242, 242);
}
.container {
    background-color: #F5F1DC;
    border: 5px solid #FF9013;
    border-radius: 10px;
    width: fit-content;
    margin: 100px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #FF9013;
}
p {
    background-color: white;
    border: 2px solid #73C8D2;
    padding: 5px;
    border-radius: 5px;
}

button {
    background-color: #FF9013;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.2s;
}
button:active {
    scale: 0.9;
    background-color: #c16a06;
}